.header {
  position: relative;
  width: 100%;
  height: 300px;
}

.header-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(50%);
  position: absolute;
  z-index: 1;
}

.header-content {
  position: relative;
  z-index: 2;
  text-align: center;
  color: white;
}

.header-hr {
  position: absolute;
  bottom: 80px;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  border: 1px solid white;
  z-index: 2;
}